nav.navbar {
    border-bottom: 1px solid grey;
}

div.work {
    margin-top: 20px;
}

div.select {
    border-left: 1px solid grey;
}
<form action="/action_page.php">
                <label for="birthday">Đến hạn</label> <br>
                <input type="date" id="birthday" name="birthday">
             </form>