img.avt {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}
p.title-classwork {
    float: left;
    margin-left: 20px;
}

h2 {
    color: green;
}

div.icon {
    float: left;
    margin-left: 15px;
    margin-top: 17px;
}

.btn {
    display: block;
    width: 100%;
    cursor: pointer;
    
}

#btn-menu {
    width: 5%;
    
}